<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationPSuite" parallel="tests" thread-count="2">

<listeners>
	<listener class-name="com.qa.listeners.ExtentTestListener"></listener>
</listeners>
  <test name="AutomationP001Test">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="com.qa.TestCases.VerifyRegistration"/>
    </classes>
  </test> <!-- AutomationP001Test -->
  
  <test name="AutomationP002Test">
  <parameter name="browserName" value="firefox"></parameter>
    <classes>
      <class name="com.qa.TestCases.VerifyRegistration"/>
    </classes>
  </test> <!-- AutomationP001Test -->
</suite> <!-- AutomationPSuite -->
